@media (min-width: 1280px) {
    .dropdown.ham_drop {
        display: none;
    }
}


@media (max-width: 768px) {
    .follow_mid {
        width: calc(100% - 40px);
        margin: auto;
    }
    .fixed_nav {
        display: none;
    }
    .ham_drop {
        z-index: 9;
        float: right;
        margin-top: -25px;
        background: transparent;
    }
    .ham_btn {
        background: transparent;
        border: 0 !important;
    }
    .ham_btn:focus {
        border: 0 !important;
    }
    .dropdown-toggle::after {
        display: none !important;
    }
    .dropdown-menu {
        left: -119px !important;
    }
    .dropdown-item {
        padding: 10px 15px !important;
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: #52525275 !important;
    }
    .my_main2_img {
        display: none;
    }
    .my_img {
        width: 400%;
        position: absolute;
        left: initial;
        top: 0;
        z-index: -9;
        right: 0px;
    }
    .my_img_shadow {
        height: 700px;
        z-index: 0;
        opacity: 0.9;
    }

    .row {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .img_margin {
        margin-top: 100px !important;
    }
    #download_cv {
        width: 60%;
        padding: 15px;
        margin: 0 20%;
    }
      .box2 {
        left: 70px;
      }
      .box3 {
        left: 130px;
      }
    .box1, .box2, .box3 {
        padding: 20px 30px;
        border-radius: 10px;
        width: 300px;
        height: 400px;
      }
    .card_body {
        font-size: 12px;
    }
    .b1, .b2 {
        margin-top: -90px;
    }
    .skill_cards {
        padding: 10px;
        height: 10vh;
    }
    .change_to_slide {
        top: -312px;
        left: 330px;
    }

    .client_quotes {
        overflow: hidden;
        overflow-x: scroll;
    }
    .client_words {
        font-size: 14px !important;
    }
    #inverted_commas {
        height: 18px;
    }
    .employee_words {
        margin: 10px;
        font-size: 14px;
        font-weight: 300;
        width: 250px;
        flex: 0 0 auto;
        background: #99A256;
        padding: 30px 30px 10px;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .nav_left, .nav_right {
        width: 40px;
        /* height: 316px; */
        top: 316px;
        bottom: 0;
        background: none;
        z-index: 9;
    }
    #back_box {
        /* height: 550px; */
    }
    #hobbies_image_box {
        left: 0;
        width: auto;
        border: 5px solid white;
        margin: 10px 20px;
        top: 10px;
    }
    #hobbies_text {
        font-size: 14px;
    }
    #hobbies_text_box {
        right: 0;
        top: 340px;
        /* bottom: 30px; */
        width: 90%;
        left: 30px;
        padding: 10px 20px
    }
    #hobbies_heading {
        margin-bottom: 20px;
        font-size: 35px;
    }
    #my_pages {
        right: 55px;
    }
    #my_pages a img {
        width: 20px !important;
        margin-right: 10px;
    }
    .c_section {
        height: 280px;
        margin-top: 70px;
    }
    .contact_box {
        margin: -150px 0 0 -125px;
     }
    .contact_header {
        font-size: 25px;
    }
    #email_body {
        margin: 25px 0;
    }
    #linkedin_img, #fb_img {
        width: 15%;
    }
}